<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_url'gl2.jpeg'%>); background-size: cover;">
  <div class="container">
    <div class="row">
      <div class="col-6">

    <h1>Eco-conscious Crafts brings <strong> a greener lifestyle to your home!</h1>
    <p> Our stylish, eco-friendly products blend craftsmanship and art, making for a truly unique range.</p>
      </div>
    </div>
  </div>
</div>

